# Code quality and linting
black
flake8[bugbear,docstrings,import_order,mutable,pep3101,spellcheck]

# Testing
pytest
pytest-cov
pytest-github-actions-annotate-failures
pytest-xdist

# Build and distribution
twine
wheel

# Dependencies for specific features
coverage
darglint
matplotlib
py2app
pyglet
ppdir
snowballstemmer
yappi
