build #mamba python-build
certifi
comtypes; sys_platform=='win32'
dbus-python; sys_platform=='linux'
distro
msvcrt
numpy
Pillow
PyChromecast
pywin32; sys_platform=='win32'
Send2Trash
#wexpect; sys_platform=='win32'
wmi; sys_platform=='win32'
wxPython>=4.1.1
zeroconf
